*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
	font-family: 'Open Sans', 'Arial', 'Helvetica Neue','Helvetica', sans-serif,'Open Sans - Semi Bold';
	font-size: 14px;
	line-height: 1.2;
	color: #555;
}

/********************************************
 				Header 
*********************************************/

.header {
	padding: 16px;
	background-color: white;
}

.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	
}

.header_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav_menu {
	font-size: 14px;
	font-weight:600;
}

.menu_box li {
	list-style-type: none;
	display: inline-block;
}

/* скрываем чекбокс */
#menu__toggle {
	opacity: 0;
  }

.nav_link {
	color: #555555;
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
	margin-left: 26px;
	line-height: normal;

	transition: color .1s linear;

	position: relative;
}

.nav_link:hover {
	color: #5363db;
}

.nav_link::after {
	content: "";
	display: block;
	width: 60%;
	height: 1px;
	background-color: #5363db;
	opacity: 0;

	position: absolute;
	left: 20%;

	transition: opacity .2s linear;
	
}

.nav_link:hover:after {
	opacity: 1;
}


/********************************************
 				FormPage 
*********************************************/


.formpage_container {
	width: 100%;
	
	padding: 100px;
	background-color: #5b6ceb;
	background:linear-gradient( #4658e4, rgba(0, 0, 0, 0.4) ), url(input/images/bg-01.jpg) center no-repeat;
	

	display: flex;
	align-items: center;
	justify-content: center;
	
}

.formpage_form {
	max-width: 300px;
	max-height: 390px;
	overflow: hidden;

	padding: 30px 30px 35px 30px;
	box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.15);
	background-color: #ffffff;
	border-radius: 20px;
	width: 300px;

	margin-right: 90px;
	margin-left: 170px;
	
}

.formpage_uppertext {
	color: #5363db;
	font-size: 26px;
	font-weight: 600;
	
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 30px 0;
}

.form_group {
	margin-bottom: 17px;
}


.form_element {
	width: 100%;
	padding: 18px 10px;
	border: none;
	border-radius: 5px;
	color: #888;
	font-size: 14px;
	font-weight: 600;
	background-color: #f2f2f2;
}


.form .form_group.select_arrow {
	position: relative;
	margin-bottom: 1rem;
}

.form .form_group.select_arrow::after{
	content: "";
	display: block;
	border-style: solid;
	border-width: 6px 5px 0 5px;
	border-color: #636363 transparent transparent transparent;

	position: absolute;
	top: 50%;
	right: 1rem;
	z-index: 1;

	pointer-events: none;

}

.form_group select {
	-webkit-appearance: none;
	appearance: none;
	font-family: inherit;
	color: #b2b2b2;
}

.form_btn {
	max-width: 170px;
	align-self: flex-end;

	margin-top: 14px;
	padding: 17px 64px;
	background-color: #5b6ceb;
	color: #ffffff;
	font-weight: 600;

	border: none;
	box-shadow: 8px 8px 10px rgba(0,0,0, 0.15);
	border-radius: 5px;
} 

.formpage_text {
	margin-left: 45px;
	color: #ffffff;
	line-height: normal;
}

.formpage_text .just_balance_text {
max-width: 485px;
color: #ffffff;
font-size: 48px;
font-weight: 700;
line-height: 72px;
text-transform: uppercase;

}

.formpage_text .healthy_living_text {
max-width: 268px;
color: #ffffff;
font-family: 'Freestyle Script','Open Sans', 'Arial';
font-size: 40px;
font-weight: 400;
}


/********************************************
 				Yoga FEATURE PROGRAM 
*********************************************/


.yoga_program_page {
	padding: 100px 0;
}


.yoga_uptext .our_classes {
	color: #777777;
	font-family: 'Freestyle Script','Open Sans', 'Arial';
	font-size: 41px;
	font-weight: 400;
	text-align: center;
	margin-top: 0;
}

h1 {
	color: #5b6ceb;
	font-size: 30px;
	font-weight: 700;
	
	text-transform: uppercase;
	text-align: center;
}

.yoga_card_holder {
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
}

.yoga_card {
	max-width: 570px;
	margin-bottom: 26px;
	

	box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;

	float: left;
	overflow: hidden;
	
}



.yoga_photo{
	height: 300px;
	width: 50%;
	position: relative;
	
}

.yoga_photo img {
	border-radius: 10px 0 0 10px;
}

.yoga_text {
	width: 50%;
	padding: 30px;
	color: #555555;
	overflow: hidden;
}

.yoga_text .minim_text {
	color: #555555;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	
	
}

.yoga_text .ashtanga_text {
	color: #999999;
	font-size: 14px;
	line-height: 22px;

	margin-top: 20px;
}

.yoga_text h2 {
	color: #777777;
	font-size: 20px;
	font-weight: 700;
	line-height: 45px;
	text-transform: uppercase;
	white-space: nowrap

}


/********************************************
 				Gallery page 
*********************************************/


.gallery_page {
	

	display: flex;
	flex-wrap: wrap;
	padding: 100px 0;
	
}

.gallery_item {
	width: 25%;
	height: 350px;
	position: relative;
	overflow: hidden;
}

.gallery_item:hover .gallery_content {
	opacity: 1;
} 

.gallery_item img {
	
	position: absolute;
	top: 0%;
	left: 0%;
	z-index: 1;
	object-fit: cover;

	
}

.gallery_content {
	display: flex;
	flex-direction: column;
	justify-content: center;

	text-align: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: rgba(91, 108, 235, 0.801);

	opacity: 0;
	transition: opacity .2s linear;
}

.gallery_icosearch {
	color: #5b6ceb;
	background-color: white;
	padding: 10px 0 0 0;
	width: 40px;
	height: 40px;
	align-self: center;
	text-align: center;
	border-radius: 100%;
	font-size: 20px;
}


/********************************************
 				Page About Us
*********************************************/


.page_aboutus {
	padding: 80px 0;
	display: flex;
	justify-content: space-between;
	
	
}

.aboutus_text h2 {
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #5b6ceb;
	
}

.aboutus_text .lorem_text {
	font-size: 14px;
	line-height: 22px;
	
}







/* Slider js */

/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
}
 /* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}

.aboutus_slider{
	max-width: 575px;
	position: relative;
	padding: 0 15px;
	margin-left: 130px;

}
.aboutus_slider .slick-arrow {
	position: absolute;
	top: 50%;
	margin: -30px 0 0 0;
	z-index: 10;
	font-size: 0;
	width: 50px;
	height: 50px;
}

.aboutus_slider .slick-arrow.slick-prev {
	box-shadow: 8px 8px 10px rgba(0,0,0, 0.15);
	left: -10px;
	background: white url(js/img/left_arrow.svg) 0 0 / 20% no-repeat;
	border: 1px;
	border-radius: 50px;
	background-position: center;
	
}

.aboutus_slider .slick-arrow.slick-next {
	box-shadow: 8px 8px 10px rgba(0,0,0, 0.15);
	right: -10px;
	background: white url(js/img/right_arrow.svg) 0 0 / 20% no-repeat;
	border-radius: 50px;
	border: 1px;
	background-position: center;
}

/* Slider js */








.slider_btn {
	height: 10%;
	width: 10%;
	background-color: white;
	text-align: center;
	z-index: 1;
	position: relative;
	box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.1);
	font-size: 30px;
	color: #5363db;
	border-radius: 100%;
}

.left_btn {
	top: -50%;
	left: -5%;
}

.right_btn {
	left: 95%;
	top: -60%;
}

/********************************************
 				Advantages Page
*********************************************/


.advantages_page_background {
	background-color: #5363db;
	background:linear-gradient( #4658e4, rgba(0, 0, 0, 0.4) ), url(input/images/bg-02.jpg) center no-repeat;
	padding: 80px 0 60px 0;
	
}

.advtgs_image{
	height: 80px;
	width: 80px;

	border-radius: 50%;
	border: 3px solid white;

	margin: 0 auto 1rem;
	padding: 15px;
}

.advtgs_card {
	display: flex;
	flex-direction: column;
	
	text-align: center;
	max-width: 265px;
	color: #ffffff;
	line-height: 27px;
	margin-bottom: 20px;
}

.advtgs_card_holder {

	display: flex;
	flex-wrap: wrap;
	
	justify-content: space-between;
}

.advtgs_card h3 {
	max-width: 155px;
	align-self: center;
	flex: 1 1 auto;

	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;

	margin-bottom: 15px;
}

.advtgs_card .advtgs_card_text {
	font-size: 16px;
	font-weight: 400;
}

.advtgs_image img {
	display: inline-block;
    vertical-align: middle;

} 



/* Price Page */
.price_background {
	width: 100%;
	background: url(/input/images/bg-03.jpg) 100% no-repeat;
}

.pricepage_cardholder {
	padding: 100px 0;
	display: flex;
	justify-content: space-between;
}

.price_card {
	max-height: 495px;
	display: flex;
	flex-direction: column;
	color: #555555;
	border-radius: 10px;
	box-shadow: 8px 8px 10px rgba(0,0,0, 0.15);
	
	background-color: #ffffff;
}


.price_card_up {
	background-color: #5b6ceb;
	color: white;
	
	display: flex;
	justify-content: center;
	align-items: baseline;

	border-radius: 10px 10px 0 0;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: 20px;
	font-size: 18px;
	text-transform: uppercase;
	
}

.price_card_up .currency_text {
	font-size: 32px;
	align-self:center;
}

.price_card_up .price {
	font-size: 67px;
}

.price_opportunities {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	
}

.price_opportunities div {
	
	position: relative;
	padding: 20px 60px;

	font-size: 18px;
	font-weight: 400;
}

.price_opportunities div::after {
	content: "";
	display: block;
	width: 25%;
	height: 1px;
	background-color: #555555;
	opacity: 0.3;
	position: absolute;
	left: 38%;
	bottom: 10px;
}

.price_opportunities div:last-child:after {
	content: "";
	display: none;
	width: 25%;
	height: 1px;
	background-color: #555555;
	opacity: 0.3;
	position: absolute;
	left: 38%;
	bottom: 10%;
}

 .price_card .price_btn {
	max-width: 170px;
	display: inline-block;
	align-self: center;

	font-size: 18px;
	font-weight: 600;
	 padding: 17px 49px;
	 margin: 30px auto;
	 background-color: #5b6ceb;
	 border-radius: 30px;
	 
	 color: #ffffff;
	 white-space: nowrap;
	 text-decoration: none;

}

.price_card a {
	text-decoration: none;
}


/********************************************
 				Footer
*********************************************/

.top_footer {
	background-color: #5b6ceb;
	padding: 100px 0;
}

.info_holder {
	display: flex;
	justify-content: space-between;
	padding-right: 200px;
	align-content: flex-start;
}

.about_block {
	max-width: 465px;
	color: #ffffff;
	

}

.about_top {
	margin-bottom: 60px;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.about_text {
	font-size: 14px;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 22px;
}

.about_icons {
	max-width: 175px;

	display: flex;
	justify-content: space-between;
	padding-top: 70px;
	font-size: 22px;
	line-height: 532px;
}

.contact_container {
	color: white;
}

.contactus_block {
	font-size: 18px;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;

	margin-bottom: 60px;
	
}

.contact_block {
	max-width: 500px;

	display: flex;
	flex-direction: column;

	line-height: 22px;
	font-size: 14px;
	text-align: left;
}

.contact_block .contact_holder {
	display: flex;
	justify-content: space-between;
}

.contact_block .contact_holder {
	margin-bottom: 30px;
}

.adress_mail span,
.num_web span {
	margin: 0 10px 10px 0;
	font-size: 20px;
}

.contact_num {
	

	max-width: 110px;
	
}

.contact_num .phone_number {
	

	line-height: 22px;
	font-size: 14px;
	display: block;
}

.contact_adress {
	max-width: 190px;
}

.contact_web {
	align-self: center;
}



/********************************************
 				under Footer
*********************************************/



.bottom_footer {
    padding: 40px 0;
	max-height: 100px;
	background-color: #5363d8;
}

.сopyright_text {

	color: #b7bffc;
	font-size: 16px;
	font-family: 'Myriad Pro','Open Sans', 'Arial';;
	text-align: center;
	margin: auto;
	
}




/********************************************
 				media
*********************************************/



@media (max-width: 1275px) {
	.formpage_container {
		padding: 75px;
	}

	.page_aboutus {
		padding: 40px 20px;
	}

	.pricepage_cardholder {
		margin: 0 20px;
	}
	
}



/* ************************************ */




@media (max-width: 1138px) {

	.formpage_form {
		margin-left: 0;
	}

	.yoga_card {
		max-width: 500px;

	}
}

@media (max-width: 1055px) {

}



/* ************************************ */




@media (max-width: 1024px) {

	img {
		max-width: 100%;
	}
    .container {
		width: 100%;
		max-width: 1000px;
		padding: 0 15px;
    }

	.formpage_container {
	padding: 40px 60px;
	}

	.yoga_card {
		max-width: 480px;

	}

	.yoga_text h2 {
		white-space: normal;
		overflow: hidden;
	}

	.yoga_text {
		padding: 10px;
		overflow: hidden;
		overflow-wrap:break-word;
	}

	.gallery_page {
		max-height: 70%;
		padding: 30px 0;
		align-content: flex-start;
		
	}

	.gallery_item {
		max-width: 256px;
		max-height: 187px;
	}

	.pricepage_cardholder {
		padding: 50px 0;
	}

	.price_card {
		max-width: 300px;
		width: 100%;	
	}

	.price_opportunities div{
		padding: 20px;
	}

	.top_footer {
		padding: 50px 0;
	}

}


/* ************************************ */



@media (max-width: 989px) {
	.page_aboutus  {
		flex-direction: column;
		align-items: center;
	}

	.aboutus_slider {
		margin-left: 0;
	}
	
	.yoga_card {
		max-width: 440px;

	}

	.formpage_form {
		
		margin-right: 10px;
	}
	.price_card {
		margin-right: 20px;
	}

}



/* ************************************ */




@media (max-width: 909px) {
	.yoga_card {
	max-width: 410px;
	}
	.pricepage_cardholder {
		margin: 0;
		flex-direction: column;
		align-items: center;
	}
  
	.price_card {
	
	  margin-bottom: 20px;
	  
	  max-width: 350px;
	  
	}
}


/* ************************************ */


@media (max-width: 768px) {
	
/* стилизуем кнопку */
.menu__btn {
	display: flex; /* используем flex для центрирования содержимого */

	align-items: center;  /* центрируем содержимое кнопки */
	position: fixed;
	top: 40px;
	left: calc(100% - 40px);
	width: 26px;
	height: 26px;
	cursor: pointer;
	z-index: 3;
  }

  /* добавляем "гамбургер" */
	.menu__btn > span,
	.menu__btn > span::before,
	.menu__btn > span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #909be8;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

/* контейнер меню */
.menu_box {
	display: block;
	position: fixed;
	visibility: hidden;
	top: 100px;
	right: -100%;
	width: 300px;
	height: 100%;
	margin: 0;
	padding: 80px 0;
	list-style: none;
	text-align: center;
	background-color: white;
	box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
	z-index: 2;
  }

  .menu_box li {
	  display: block;
  }
  
  /* элементы меню */
  .nav_link {
	display: block;
	padding: 12px 24px;
	color: #909be8;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
  }
  .nav_link:hover {
	background-color: #CFD8DC;
  }

  #menu__toggle:checked ~ .menu__btn > span {
	transform: rotate(45deg);
  }
  
  #menu__toggle:checked ~ .menu__btn > span::before {
	top: 0;
	transform: rotate(0);
  }
  
  #menu__toggle:checked ~ .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
  }
  
  #menu__toggle:checked ~ .menu_box {
	visibility: visible;
	left: calc(100% - 300px);
  }






	.formpage_container {
		flex-direction: column;
		background:linear-gradient( #4658e4, rgba(0, 0, 0, 0.4) ), url(input/images/bg-01.jpg) bottom no-repeat;
		
	}

	.formpage_form {
		margin: 30px 0;
	}

	.formpage_text {
		text-align: center;
		
		margin-left: 0;
	}

	.formpage_text p:last-child {
		max-width: none;
	}

	.gallery_page {
		
		align-items: center;
	}
	
	.yoga_card_holder {
		flex-direction: column;
		align-content: center;
	}

	.gallery_item {
		width: 380px;
		
	}

	.aboutus_slider {
		margin-top: 20px;
	}

	.page_aboutus {
		padding: 10px 0;
		flex-wrap: wrap;
		justify-content: center;
		
	}

	.advantages_page_background {
		background: none;
		background-color: #5363db;
	}

	

	.info_holder {
		padding-right: 0;
	}

	.formpage_container {
		padding: 5px 80px;
	}
	

}



/* ************************************ */




@media (max-width: 849px) {



	.yoga_card {
		flex-direction: column;
		max-width: 270px;
		margin-right: 10px;
	}

	.yoga_img {
		max-width: 270px;
		

	}

	.yoga_text {
		max-width: 270px;
		width: 100%;
		margin: 10px;

	}

} 



/* ************************************ */




@media (max-width: 770px) {
	.gallery_item {
		max-width: 50%;
		max-height: 16rem;
	}
	.gallery_content {
		
	}
}



/* ************************************ */




@media (max-width: 576px) {

	body {
		overflow-x:hidden;
	}

	
  .gallery_page {
	 margin-left: 30px;
  }

  .price_background {
	background: url(/input/images/bg-03.jpg) 100% repeat;
  }

  .advtgs_card_holder {
	  flex-direction: column;
	  align-content: center;
  }
 
  .info_holder {
	  flex-direction: column;
	  align-content: center;
  }
  .about_block {
	margin-bottom: 60px;
}
}



/* ************************************ */




@media (max-width: 320px) {

	.yoga_program_page {
		padding: 10 0;
	}

	/*.yoga_card {
		flex-direction: column;
		max-width: 270px;
		
	}

	.yoga_img {
		max-width: 270px;
		

	}

	.yoga_text {
		max-width: 270px;
		width: 100%;
		margin: 10px;

	}*/

	.gallery_page {
		margin: 0;
	}

	.gallery_item {
		width: 50%;
		height: 100px
	}

	.slider_btn {
		font-size: 18px;
	}

	

	.about_icons {
		margin: 0 auto;
	}

	

}




